body {
    background: #EFEFEF;
}

.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form-container {
    max-width: 600px;
    .form-control {
        padding: 20px;
    }
    #inputUsername {
        border-radius: 5px 5px 0 0;
    }
    #inputPassword {
        border-radius: 0 0 5px 5px;
    }
    .form-message {
        font-size: 1.2rem;
        color: gray;
    }
}
