{% extends 'feed/feed-layout.html' %}

{% block 'menu' %}
    <a class="nav-link active" href="/feed/">All</a>
{% for sl in source_lists %}
    {% if sl.source_set.count > 0 %}
        <a class="nav-link" href="#"><span>{{sl.name}}</span> <button class="btn text-light px-2 py-0" data-toggle="collapse" data-target="#{{sl.name}}" aria-controls="{{sl.name}}" aria-expanded="false"><i class="fas fa-caret-down"></i></button><a>
        <div class="collapse collapse-menu" id="{{sl.name}}">
            {% for s in sl.source_set.all %}
                <a class="nav-link" href="#">{{s.name}}</a>
            {% endfor %}
        </div>
    {% else %}
        <a class="nav-link" href="#">{{sl.name}}</a>
    {% endif %}
{% endfor %}

<div class="btn-group" role="group" aria-label="menu-btn-group">
    <button type="button" id="newDropdownMenuButton" class="btn btn-outline-light btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">New</button>
    <div class="dropdown-menu dropdown-menu-center" aria-labelledby="newDropdownMenuButton">
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#add-list-dialog">New List</a>
        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#add-source-dialog">New Feed</a>
    </div>
</div>
{% endblock %}

{% block 'focus-content' %}
{% if error_message %}
<div class="alert alert-danger alert-dismissible fade show my-2" role="alert">
    {{ error_message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% if success_message %}
<div class="alert alert-success alert-dismissible fade show my-2" role="alert">
    {{ success_message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<div id="focus-content" class="row justify-content-center px-2">
    <div id="first-column" class="col-md-4">
        {% include 'feed/card.html' with card_title="First Column" card_text="The quick brown fox jumps over the lazy dog." %}
    </div>
    <div id="second-column" class="col-md-4">
        {% include 'feed/card.html' with card_title="Second Column" card_text="Lorem ipsum dolor sit amet." %}
    </div>
    <div id="third-column" class="col-md-4">
        {% include 'feed/card.html' with card_title="Third Column" card_text="This is the third column." %}
    </div>
    <div id="forth-column" class="col-md-4">
        {% include 'feed/card.html' with card_title="Forth Column" card_text="This is the forth column." %}
    </div>
    <div id="fifth-column" class="col-md-4">
        {% include 'feed/card.html' with card_title="Fifth Column" card_text="This is the fifth column." %}
    </div>
</div>
{% endblock %}

{% block 'body-append' %}
<div id="add-list-dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add-list-dialog-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-list-dialog-label">Add List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/feed/lists/add/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="list-name">Name</label>
                        <input type="text" id="list-name" class="form-control" placeholder="List Name" name="name" required></input>
                    </div>
                    <div class="form-group btn-group">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="add-source-dialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add-source-dialog-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-source-dialog-label">Add Feed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/feed/sources/add/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="feed-name">Name</label>
                        <input type="text" id="feed-name" class="form-control" placeholder="Feed Name" name="name" required></input>
                    </div>
                    <div class="form-group">
                        <label for="feed-description">Description</label>
                        <input type="text" id="feed-description" class="form-control" placeholder="Feed Description" name="description"></input>
                    </div>
                    <div class="form-group">
                        <label for="source_lists">List</label>
                        <select id="source_lists" class="form-control" name="source_list_id" required>
                            {% for sl in source_lists %}
                                <option value={{sl.id}}>{{sl.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="feed-url">Url</label>
                        <input type="url" id="feed-url" class="form-control" placeholder="https://something.domain/feed.xml" name="url" required></input>
                    </div>
                    <div class="form-group btn-group">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
