{% extends 'Infeed/base.html' %}
{% load static %}
{% load sass_tags %}

{% block 'head' %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'feed/style/style.scss' %}">
{% endblock %}

{% block 'body' %}
    {% block 'body-append' %}
    {% endblock %}
<div class="wrapper">
    <div id="sidebar-wrapper" class="shadow">
        <nav id="sidebar-content" class="navbar">
            <span class="brand">Infeed</span>
            <nav class="nav flex-column">
                {% block 'menu' %}
                {% endblock %}
            </nav>
        </nav>
    </div>
    <div id="content-wrapper" class="">
        <nav class="navbar navbar-expand-lg navbar-light py-2 pt-4">
            <div class="container-fluid">
                <button id="sidebar-button" class="btn btn-info mx-2 mr-4" type="button">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
            </div>
        </nav>

        <div class="container">
            <div class="row justify-content-left">
                <div class="col-md-12">
                    {% block 'focus-content' %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
