{% extends 'Infeed/base.html' %}

{% block 'left-side' %}
    <nav class="navbar">
        <nav class="nav flex-column">
            <a class="nav-link active" href="#">Item 1</a>
            <a class="nav-link" href="#">Item 2</a>
            <a class="nav-link" href="#">Item 3</a>
            <a class="nav-link" href="#">Item 4</a>
            <a class="nav-link" href="#">Item 5</a>
        </nav>
    </nav>
{% endblock %}

{% block 'content' %}
    <div class="container">
        <div class="row justify-content-left">
            <div class="col-md-12 col-lg-10">
                {% block 'focus-content' %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
