{% extends 'Infeed/base.html' %}
{% load static %}
{% load sass_tags %}

{% block 'head' %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'feed/style/style.scss' %}">
{% endblock %}

{% block 'left-side' %}
    <nav id="sidebar-content" class="navbar">
        <span class="brand">Infeed</span>
        <nav class="nav flex-column">
            {% block 'menu' %}
            {% endblock %}
        </nav>
    </nav>
{% endblock %}

{% block 'content' %}
    <div class="container">
        <div class="row justify-content-left">
            <div class="col-md-12">
                {% block 'focus-content' %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
