{% extends 'feed/feed-layout.html' %}

{% block 'focus-content' %}
<div id="focus-content" class="row justify-content-center px-2">
    <div id="first-column" class="col-md-4">
        {% include 'feed/card.html' with card_title="First Column" card_text="The quick brown fox jumps over the lazy dog." %}
    </div>
    <div id="second-column" class="col-md-4">
        {% include 'feed/card.html' with card_title="Second Column" card_text="Lorem ipsum dolor sit amet." %}
    </div>
    <div id="third-column" class="col-md-4">
        {% include 'feed/card.html' with card_title="Third Column" card_text="This is the third column." %}
    </div>
</div>
{% endblock %}
